html {
    background: url(https://wallpapercave.com/wp/wp1822726.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -background-size: cover;
}

h1.sticky {
    position: sticky;
    top: 0;
}

h1 span {
    background-color: #F9E7A9; 
    border-radius: 20px 20px 20px 20px;
    border: solid black 2px;
    padding: 0px 100px 0px 100px;
    box-shadow: 2px 2px 5px black;
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: Black;
}

ul {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 24px;
}

img {
    border-radius: 20px 20px 20px 20px;
    border: solid black 1.1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px black;
    width: 20%;
}

h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 40px;
}